# /etc/systemd/system/precache-images.service
[Unit]
Description=Extracts the TEST images into containers storage
#BindsTo=var-mnt.mount
After=var-mnt.mount
Before=agent.service
#Before=machine-config-daemon-pull.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/var/mnt
ExecStart=bash /usr/local/bin/extract-ai.sh
#ExecStop=systemctl disable var-mnt.mount
#ExecStop=bash /usr/local/bin/echo.sh
#ExecStop=systemctl stop var-mnt.mount
TimeoutStopSec=30
#RemainAfterExit=yes

[Install]
WantedBy=multi-user.target agent.service
