#/etc/systemd/system/precache-images.service

[Unit]
Description=Extracts the precached images into containers storage
Requires=var-mnt.mount
After=var-mnt.mount

[Service]
Type=oneshot
User=root
WorkingDirectory=/var/mnt/images-4.10.3
ExecStart=bash -x /var/mnt/images-4.10.3/extract-4.10.3.sh
ExecStartPost=systemctl disable var-mnt.mount
ExecStop=systemctl stop var-mnt.mount
TimeoutStopSec=45

[Install]
WantedBy=multi-user.target default.target
